body{
    background: #eee;
   }
   
   #side_nav{
    background: #000;
    min-width: 265px;
    max-width: 265px;
    transition: all 0.3s;
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
    color: #eee;
   }
   
   .sidebar li.active{
      background: #eee;
      border-radius: 8px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
   }
   .sidebar li a{
    color: #fff;
   }

  .textDash {
    text-align: justify;
    padding: 5px 15px;
  }
   
   @media(max-width: 767px){
    #side_nav{
      margin-left: -265px;
      position: absolute;
      min-height: 100vh;
      z-index: 1000000;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }

#frmGlobal {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  min-height: 400px;
  max-height: 400px;
}

#frmGlobal .card-body input {
  align-content: center;
  align-items: center;
}
#btnActions {
  display: flex;
}

#btnActions button{
  border-radius: 3px;
  width: 30px;
  margin: 0;
  padding: 0;
}
#btnUpForm {
  width: 68px;
  height: 200px;
}


/* Calcula a altura do card */
.card-ajustavel {
  height: calc(100vh - 56px - 30px);
  overflow: auto; /* Adicione rolagem se o conteúdo do card for muito grande */
}


.dashBodyCard .card {
  border: none;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.dashBodyCard p {
  text-align: end;
  font-size: 32px;
  font-weight: 700;
}

.dashBodyCard img {
  height: 110px;
  width: auto;
}

.dashBodyCard button {
  width: 100%;
  border-radius: 0px 0px 6px 6px;
}

.dashBodyCard h5 {
  font-weight: 700;
  font-size: 18px;
}

.table-container {
  max-height: 300px; /* Altura máxima da tabela */
  overflow: auto; /* Rolagem vertical */
}
.table-header {

  position: sticky;
  top: 0;
  background-color: #fefefe; /* Cor de fundo do cabeçalho */
  z-index: 1;
}
table {
  width: 100%;
}